<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxb.cms.dao.BudgetSubChannelLoanMapper">
    <select id="selectByTemplateId" resultType="com.yxb.cms.model.BudgetSubChannelLoan">
        SELECT *
        FROM budget_sub_channel_loan
        WHERE template_id=#{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="value.id">
        INSERT INTO budget_sub_channel_loan
        (id, template_id, channel_name, period, interest_rate, percentage, repayment_type)
        VALUES
        (#{value.id}, #{value.templateId}, #{value.channelName}, #{value.period}, #{value.interestRate}, #{value.percentage}, #{value.repaymentType})
    </insert>

    <delete id="deleteByTemplateId">
        DELETE FROM budget_sub_channel_loan WHERE template_id=#{id}
    </delete>

    <insert id="copy">
        INSERT INTO budget_sub_channel_loan
        SELECT NULL, #{value.newKey}, channel_name, period, interest_rate, percentage, repayment_type
        FROM budget_sub_channel_loan where template_id=#{value.id}
    </insert>
</mapper>