<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxb.cms.dao.BudgetChannelLoanMapper">
    <select id="selectByTemplateId" resultType="com.yxb.cms.model.BudgetChannelLoan">
        SELECT *
        FROM budget_channel_loan
        WHERE template_id=#{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="value.id">
        INSERT INTO budget_channel_loan
        (id, template_id, channel_name, loan_amount)
        VALUES
        (#{value.id}, #{value.templateId}, #{value.channelName}, #{value.loanAmount})
    </insert>

    <delete id="deleteByTemplateId">
        DELETE FROM budget_channel_loan WHERE template_id=#{id}
    </delete>

    <insert id="copy">
        INSERT INTO budget_channel_loan
        SELECT NULL,#{value.newKey}, channel_name, loan_amount
        FROM budget_channel_loan where template_id=#{value.id}
    </insert>
</mapper>